<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp_Lecture</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Score_Search_Avg</servlet-name>
    <servlet-class>com.score.Score_Search_Avg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.test2.Test</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BBSPostServlet</servlet-name>
    <servlet-class>com.test2.BBSPostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BmemberSearch</servlet-name>
    <servlet-class>com.test2.BmemberSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Pinfo_result</servlet-name>
    <servlet-class>com.test2.Pinfo_result</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Score_Print_SubAvg</servlet-name>
    <servlet-class>com.score.Score_Print_SubAvg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CsetEx</servlet-name>
    <servlet-class>com.jstlEx.CsetEx</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberEx</servlet-name>
    <servlet-class>com.jstlEx.MemberEx</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentNameSearch</servlet-name>
    <servlet-class>com.student.StudentNameSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BmemberLogin</servlet-name>
    <servlet-class>com.test2.BmemberLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentIDSearch</servlet-name>
    <servlet-class>com.student.StudentIDSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentInsert</servlet-name>
    <servlet-class>com.student.StudentInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentSubjectSearch</servlet-name>
    <servlet-class>com.student.StudentSubjectSearch</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServ</servlet-name>
    <servlet-class>com.test2.AddServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResearchCreation</servlet-name>
    <servlet-class>research.sevlet.ResearchCreation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResearchQuestion</servlet-name>
    <servlet-class>research.sevlet.ResearchQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Score_Print</servlet-name>
    <servlet-class>com.score.Score_Print</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.servletEx.NameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Score_Insert</servlet-name>
    <servlet-class>com.score.Score_Insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberInsert</servlet-name>
    <servlet-class>member.insertdb.MemberInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalculatorSevlet</servlet-name>
    <servlet-class>com.servletEx.CalculatorSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BmemberUpdate</servlet-name>
    <servlet-class>com.test2.BmemberUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BmebmerInsert</servlet-name>
    <servlet-class>com.test2.BmebmerInsert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Score_Print_Rank</servlet-name>
    <servlet-class>com.score.Score_Print_Rank</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdderServlet</servlet-name>
    <servlet-class>com.gugu.AdderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Score_Search_Avg</servlet-name>
    <url-pattern>/score/Score_Search_Avg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/test/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BBSPostServlet</servlet-name>
    <url-pattern>/servletEx/BBSPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BmemberSearch</servlet-name>
    <url-pattern>/login/BmemberSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pinfo_result</servlet-name>
    <url-pattern>/Pinfo_result</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Score_Print_SubAvg</servlet-name>
    <url-pattern>/score/Score_Print_SubAvg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CsetEx</servlet-name>
    <url-pattern>/jstl/CsetEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberEx</servlet-name>
    <url-pattern>/jstl/MemberEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentNameSearch</servlet-name>
    <url-pattern>/student/StudentNameSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BmemberLogin</servlet-name>
    <url-pattern>/login/BmemberLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentIDSearch</servlet-name>
    <url-pattern>/student/StudentIDSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentInsert</servlet-name>
    <url-pattern>/student/StudentInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentSubjectSearch</servlet-name>
    <url-pattern>/student/StudentSubjectSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServ</servlet-name>
    <url-pattern>/AddServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResearchCreation</servlet-name>
    <url-pattern>/research/ResearchCreation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResearchQuestion</servlet-name>
    <url-pattern>/research/ResearchQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Score_Print</servlet-name>
    <url-pattern>/score/Score_Print</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/examServlet/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Score_Insert</servlet-name>
    <url-pattern>/score/Score_Insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberInsert</servlet-name>
    <url-pattern>/member/MemberInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CalculatorSevlet</servlet-name>
    <url-pattern>/examServlet/CalculatorSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BmemberUpdate</servlet-name>
    <url-pattern>/login/BmemberUdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BmebmerInsert</servlet-name>
    <url-pattern>/login/BmebmerInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Score_Print_Rank</servlet-name>
    <url-pattern>/score/Score_Print_Rank</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdderServlet</servlet-name>
    <url-pattern>/AdderServlet</url-pattern>
  </servlet-mapping>

</web-app>